@mixin flexBox($justifyContent: center, $alignItems: center) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin gridContainer(
  $gridTemplateColumn: 100%,
  $gridTemplateRows: 100%,
  $justifyContent: center,
  $alignItems: center
) {
  display: grid;
  grid-template-columns: $gridTemplateColumn;
  grid-template-rows: $gridTemplateRows;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin widthAndHeight($width, $height) {
  width: $width;
  height: $height;
}

// @mixin flexContainer($flexDirection : row ) {
//     display: flex;
//     flex-direction: $flexDirection;
// }
