@mixin flexBox($justifyContent: center, $alignItems: center) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin gridContainer(
  $gridTemplateColumn: 100%,
  $gridTemplateRows: 100%,
  $justifyContent: center,
  $alignItems: center
) {
  display: grid;
  grid-template-columns: $gridTemplateColumn;
  grid-template-rows: $gridTemplateRows;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin widthAndHeight($width, $height) {
  width: $width;
  height: $height;
}

@mixin h2Font {
  font-size: 4rem;
  color: $black;
  text-shadow: $mainFontColor 3px 0 0, $mainFontColor 0 3px 0,
    $mainFontColor -3px 0 0, $mainFontColor 0 -3px 0;
}

@mixin h4Font {
  font-size: 1.2rem;
  color: $mainFontColor;
  text-shadow: $black 1px 0 0, $black 0 1px 0, $black -1px 0 0, $black 0 -1px 0;
}

@mixin flexContainer($flexDirection: row) {
  display: flex;
  flex-direction: $flexDirection;
}

@mixin gridContainer2(
  $gridTemplateColumn: 100%,
  $justifyContent: center,
  $alignItems: center
) {
  display: grid;
  grid-template-columns: $gridTemplateColumn;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
