@import "./modules/mixin";
@import "./modules/variable";
// @import "modules/variable";
// @import "modules/typography";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;

  body {
    @include gridContainer(
      100vw,
      10vh 90vh repeat(2, 100vh) repeat(2, 50vh) 70vh 30vh
    );
    border: 1px solid red;

    header {
      @include flexBox(space-between);
      padding: 20px 10px;

      nav {
        ul {
          @include flexBox(space-between);
        }
      }
    }

    main {
      @include widthAndHeight(100%, 100%);
      background-image: url(./images/main-photo.jpg);
      background-position: center;
      background-size: cover;
    }

    aside {
      @include widthAndHeight(100%, 100%);
      @include gridContainer(50vw 50vw, 20% repeat(2, 1fr));
      grid-template-areas: "h2 h2";
      // "photo1 photo2"
      // "photo3 photo4";

      h2 {
        grid-area: h2;
        color: $h2FontColor;
        text-align: center;
      }

      div {
        text-align: center;
        @include widthAndHeight(100%, 100%);
        background-color: gray;
        border: 1px solid red;
      }
      //   &.why-block h2 {
      //     color: red;
      //   }
    }

    footer {
      @include flexBox(space-between);
      padding: 20px 20px;
      div {
        ul {
          @include flexBox;
        }
      }
    }
  }
}
