body {
  font-family: "Ubuntu", "Sofia Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 10vh repeat(4, 95vh) 80vh 12vh;
  justify-content: center;
  align-items: center;
}
* body ul {
  list-style-type: none;
}
* body ul a {
  text-decoration: none;
}
* body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
}
* body header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
* body main {
  width: 100%;
  height: 100%;
  background-image: url(./images/main-photo.jpg);
  background-position: right;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-template-areas: "main-h1 main-h1 main-h1 second-title" "main-h1 main-h1 main-h1 second-title" "p-content p-content booking-button second-title";
  padding: 100px;
}
* body main h1 {
  grid-area: main-h1;
  font-size: 5rem;
  text-shadow: #ffc629 3px 0 0, #ffc629 0 3px 0, #ffc629 -3px 0 0, #ffc629 0 -3px 0;
}
* body main p.second-title {
  grid-area: second-title;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  font-size: 4rem;
  color: #ffc629;
  text-shadow: black 1.5px 0 0, black 0 1.5px 0, black -1.5px 0 0, black 0 -1.5px 0;
  display: flex;
  align-items: center;
}
* body main p.main-content {
  grid-area: p-content;
  color: black;
  text-shadow: #ffc629 1.5px 0 0, #ffc629 0 1.5px 0, #ffc629 -1.5px 0 0, #ffc629 0 -1.5px 0;
  padding: 10px 20px 10px 0px;
}
* body main button.booking-button {
  grid-area: booking-button;
  border-radius: 25px;
  padding: 14px;
  color: #ffc629;
  background-color: black;
  border: none;
}
* body aside {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20% 1fr;
  justify-content: center;
  align-items: center;
}
* body aside.why-block {
  padding: 50px 80px;
}
* body aside.why-block div {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 30px 10px;
}
* body aside.why-block div img {
  width: 20vw;
  height: 35vh;
  border-radius: 50%;
}
* body aside.why-block div h4 {
  padding: 20px 10px 10px 10px;
  font-size: 1.2rem;
  color: #ffc629;
  text-shadow: black 1px 0 0, black 0 1px 0, black -1px 0 0, black 0 -1px 0;
}
* body aside.why-block div p {
  padding: 10px 50px;
}
* body aside h2 {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  font-size: 4rem;
  color: black;
  text-shadow: #ffc629 3px 0 0, #ffc629 0 3px 0, #ffc629 -3px 0 0, #ffc629 0 -3px 0;
}
* body aside.about-block {
  padding: 80px 100px;
  background-color: bisque;
}
* body aside.about-block h2 {
  grid-column-start: 2;
  grid-column-end: 4;
}
* body aside.about-block img {
  width: 35vw;
  border-radius: 30px;
  grid-row-start: 1;
  grid-row-end: 3;
}
* body aside.about-block p {
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 0px 0px 0px 80px;
  font-size: 1.8rem;
}
* body aside.group-block {
  padding: 50px 80px;
}
* body aside.group-block h2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
* body aside.group-block img {
  height: 45vw;
  border-radius: 30px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}
* body aside.group-block div {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
* body aside.group-block div.step-grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-areas: "step1 p-step1" "step2 p-step2" "step3 p-step3";
  height: 50vh;
  padding: 0px 20px 0px 0px;
  font-size: 1.5rem;
}
* body aside.group-block div.step-grid-container div.step1 {
  grid-area: step1;
  width: 60px;
  height: 60px;
  background-color: #ffc629;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
}
* body aside.group-block div.step-grid-container p.p-step1 {
  grid-area: p-step1;
}
* body aside.group-block div.step-grid-container div.step2 {
  grid-area: step2;
  width: 60px;
  height: 60px;
  background-color: #ffc629;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
}
* body aside.group-block div.step-grid-container p.p-step2 {
  grid-area: p-step2;
}
* body aside.group-block div.step-grid-container div.step3 {
  grid-area: step3;
  width: 60px;
  height: 60px;
  background-color: #ffc629;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
}
* body aside.group-block div.step-grid-container p.p-step3 {
  grid-area: p-step3;
}
* body aside.crew-block {
  background-color: bisque;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
}
* body aside.crew-block div {
  padding: 15px;
  font-size: 1.2rem;
  color: #ffc629;
  text-shadow: black 1px 0 0, black 0 1px 0, black -1px 0 0, black 0 -1px 0;
  font-size: 2rem;
}
* body aside.crew-block div img {
  width: 19vw;
  border-radius: 50%;
}
* body aside.crew-block div.pan {
  text-align: center;
}
* body aside.crew-block div.taty {
  text-align: center;
}
* body footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}
* body footer div ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}/*# sourceMappingURL=style.css.map */