@import "./modules/mixin";
@import "./modules/variable";
@import "./modules/typography";
// @import "modules/typography";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  body {
    @include gridContainer(100vw, 10vh repeat(4, 95vh) 80vh 12vh);
    font-family: Hakubo;
    border: 10px solid #ffc629;

    ul {
      list-style-type: none;

      a {
        text-decoration: none;
        color: $black;

        &:hover {
          color: $mainFontColor;
        }
      }
    }

    header {
      @include flexBox(space-between);
      padding: 20px 30px;
      position: sticky;
      top: 0px;
      background-color: $white;
      border-radius: 50px;
      border: 5px solid #ffc629;

      div img {
        width: 50px;
        height: 50px;
      }

      nav {
        ul {
          @include flexBox(space-between);
          gap: 20px;
        }
      }
    }

    main {
      @include widthAndHeight(100%, 100%);
      background-image: url(./images/main-photo.jpg);
      background-position: right;
      background-size: cover;
      @include gridContainer(repeat(4, 1fr), repeat(3, 1fr));
      grid-template-areas:
        "main-h1 main-h1 main-h1 second-title"
        "main-h1 main-h1 main-h1 second-title"
        "p-content p-content booking-button second-title";
      padding: 100px;

      h1 {
        grid-area: main-h1;
        font-size: 5rem;
        text-shadow: $mainFontColor 3px 0 0, $mainFontColor 0 3px 0,
          $mainFontColor -3px 0 0, $mainFontColor 0 -3px 0;
      }

      p.second-title {
        grid-area: second-title;
        writing-mode: vertical-lr;
        font-size: 4rem;
        color: $mainFontColor;
        text-shadow: $black 1.5px 0 0, $black 0 1.5px 0, $black -1.5px 0 0,
          $black 0 -1.5px 0;
        display: flex;
        align-items: center;
      }

      p.main-content {
        grid-area: p-content;
        color: $black;
        text-shadow: $mainFontColor 1.5px 0 0, $mainFontColor 0 1.5px 0,
          $mainFontColor -1.5px 0 0, $mainFontColor 0 -1.5px 0;
        padding: 10px 20px 10px 0px;
      }

      button.booking-button {
        grid-area: booking-button;
        border-radius: 25px;
        padding: 14px;
        color: $mainFontColor;
        background-color: $black;
        border: none;
      }
    }

    aside {
      @include widthAndHeight(100%, 100%);
      @include gridContainer(repeat(3, 1fr), 20% 1fr);
      gap: 20px;

      &.why-block {
        padding: 50px 80px;

        div {
          text-align: center;
          @include widthAndHeight(100%, 100%);
          padding: 30px 10px;
          background-color: #fac941;
          border: 2px solid black;
          border-radius: 50px;
          column-gap: 20px;

          img {
            @include widthAndHeight(20vw, 35vh);
            border-radius: 50%;
          }

          h4 {
            padding: 20px 10px 10px 10px;
            @include h4Font;
          }

          p {
            padding: 10px 50px;
          }
        }
      }

      h2 {
        // grid-area: h2;
        grid-column-start: 1;
        grid-column-end: 4;
        // color: $black;
        text-align: center;
        @include h2Font;
      }

      &.about-block {
        padding: 80px 100px;
        background-color: bisque;

        h2 {
          grid-column-start: 2;
          grid-column-end: 4;
        }

        img {
          width: 35vw;
          border-radius: 30px;
          grid-row-start: 1;
          grid-row-end: 3;
        }

        p {
          grid-column-start: 2;
          grid-column-end: 4;
          padding: 0px 0px 0px 80px;
          font-size: 1.8rem;
        }
      }

      &.group-block {
        padding: 50px 80px;

        h2 {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2;
        }

        img {
          height: 45vw;
          border-radius: 30px;
          grid-row-start: 1;
          grid-row-end: 3;
          grid-column-start: 3;
          grid-column-end: 4;
        }

        div {
          grid-row-start: 2;
          grid-row-end: 3;
          grid-column-start: 1;
          grid-column-end: 3;

          &.step-grid-container {
            @include gridContainer(1fr 4fr, repeat(3, 1fr));
            justify-items: center;
            grid-template-areas:
              "step1 p-step1"
              "step2 p-step2"
              "step3 p-step3";
            height: 50vh;
            padding: 0px 20px 0px 0px;
            font-size: 1.5rem;

            div.step1 {
              grid-area: step1;
              @include widthAndHeight(60px, 60px);
              background-color: $mainFontColor;
              border-radius: 50%;
              text-align: center;
              line-height: 60px;
              //   @include h4Font;
            }

            p.p-step1 {
              grid-area: p-step1;
            }

            div.step2 {
              grid-area: step2;
              @include widthAndHeight(60px, 60px);
              background-color: $mainFontColor;
              border-radius: 50%;
              text-align: center;
              line-height: 60px;
            }

            p.p-step2 {
              grid-area: p-step2;
            }

            div.step3 {
              grid-area: step3;
              @include widthAndHeight(60px, 60px);
              background-color: $mainFontColor;
              border-radius: 50%;
              text-align: center;
              line-height: 60px;
            }

            p.p-step3 {
              grid-area: p-step3;
            }
          }
        }
      }

      &.crew-block {
        background-color: bisque;
        @include gridContainer(repeat(2, 1fr), 1fr 2fr);
        padding: 15px 0px;
        gap: 0px;

        div {
          padding: 15px;
          @include h4Font;
          font-size: 2rem;

          img {
            width: 19vw;
            border-radius: 50%;
          }

          &.pan {
            text-align: center;
          }

          &.taty {
            text-align: center;
          }
        }
      }
    }

    footer {
      @include flexBox(space-between);
      padding: 20px 40px;

      div {
        img {
          width: 50px;
          height: 50px;
        }

        ul {
          @include flexBox(space-between);
          gap: 30px;
        }

        &.media-icons {
          ul {
            gap: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  @import "Screens/phones";
}

@media (max-width: 767px) {
  @import "Screens/phones";
}
